:root {
  --color-primary: var(--blue-refreshing-1);
  --color-primary-tint: var(--blue-refreshing-2);
  --color-secondary: var(--blue-refreshing-5);
  --color-secondary-tint: var(--blue-refreshing-4);
  --color-terciary: var(--blue-refreshing-3);

  --blue-refreshing-1: #25274D;
  --blue-refreshing-2: #464866;
  --blue-refreshing-3: #AAABB8;
  --blue-refreshing-4: #2E9CCA;
  --blue-refreshing-5: #29648A;
}
