html {
  font-size: 62.5%;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  background-color: var(--blue-dark);
  font-family: 'Bellota', cursive;
  color: var(--grey-soft);
  text-align: center;
}
